SECRET_KEY=Create with python3.11 -c 'import os; from cryptography.fernet import Fernet; print(Fernet.generate_key().decode("utf-8"))'
DB_CRYPT_KEY=Same here

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DB_DEBUG=true
DB_PATH=./waomoe.sqlite
VN_DB_PATH=./vn_waomoe.sqlite
DB_BACKUP_FOLDER=./backups/